<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<servlet-name>thread-dump</servlet-name>
		<servlet-class>etd.ThreadDumpServlet</servlet-class>
		<init-param>
			<param-name>etd_our_packages</param-name>
			<param-value>etd.</param-value>
		</init-param>
		<init-param>
			<param-name>etd_libs_mapping</param-name>
			<param-value>
				jetty=org.eclipse.jetty;
				Java core=sun.misc,^java.;
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>thread-dump</servlet-name>
		<url-pattern>/thread-dump/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>