<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<servlet-name>thread-dump</servlet-name>
		<servlet-class>etd.ThreadDumpServlet</servlet-class>
		<init-param>
			<param-name>etd_our_packages</param-name>
			<param-value>etd.</param-value>
		</init-param>
		<init-param>
			<param-name>etd_libs_mapping</param-name>
			<param-value>
				jetty=org\\.eclipse\\.jetty;
				Java core=sun\\.misc,^java\\.;
				SpringTransaction=^org\\.springframework\\.transaction\\.support\\.TransactionTemplate\\.execute,^org\\.springframework\\.transaction\\.interceptor\\.TransactionInterceptor\\.invoke,^org\\.springframework\\.transaction\\.support\\.TransactionCallbackWithoutResult\\.doInTransaction;
				Spring=^org\\.springframework;
				OracleJDBC=^oracle\\.jdbc;
				Hibernate=^org\\.hibernate;
				Weblogic portlet=^com\\.bea\\.(wsrp|portlet)\\.,javax\\.portlet\\.;
				Weblogic=^com\\.bea\\.,^weblogic\\.;
				Proxy=^com\\.sun\\.proxy\\.;
				Reflection=^java\\.lang\\.reflect\\.,^sun\\.reflect\\.;
				Socket-in=^java\\.net\\.SocketInputStream;
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>thread-dump</servlet-name>
		<url-pattern>/thread-dump/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>demoFilter</filter-name>
		<filter-class>etd.demo.DemoFilter</filter-class>
	</filter>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>